* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100dvh;
    background: linear-gradient(to bottom, #000c29 0%, #030a38 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 5rem;
    padding: 1rem;
}

.card-image {
    max-width: 100%;
    border-radius: 1.5rem;
}

header {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.logo-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.logo-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, #f2f2f2, #e6e6e6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.hero {
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
}

.hero p {
    font-size: 2.5rem;
}

.search-controls {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
}

#result-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 5rem auto;
    max-width: 80rem;
    width: 100%;
}

#result-container .card-title {
    margin: 1.4rem 0;
}

input[type="date"] {
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    font-size: 1.6rem;
}

button {
    padding: 1rem 3rem;
    background-color: #036ad8;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253e62;
    color: white;
    width: 100%;
    height: 4rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        font-size: 3.5rem;
        padding: 3rem 1rem 1rem 1rem;
    }

    .hero p {
        font-size: 1.8rem;
    }

    .search-controls {
        gap: 1rem;
    }

    input[type="date"], button {
        width: 100%;
        max-width: 30rem;
    }

    .glass-card {
        border-radius: 2rem;
        padding: 1.5rem;
    }
}