* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100dvh;
    background: linear-gradient(to bottom, #000c29 0%, #030a38 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 5rem;
    padding: 1rem;
}

.card-image {
    max-width: 100%;
    border-radius: 1.5rem;
}

nav ul {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
}

.hero p {
    font-size: 2.5rem;
}

.search-controls {
    margin: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#result-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    max-width: 60rem;
}

#result-container .card-title {
    margin: 1.4rem 0;
}

input[type="date"] {
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    font-size: 1.6rem;
}

button {
    padding: 1rem 3rem;
    background-color: #036ad8;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253e62;
    color: white;
    width: 100%;
    height: 4rem;
}